In [78]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

In [79]:
train= pd.read_csv('data/cases_2021_train_processed_2.csv')
test=pd.read_csv('data/cases_2021_test_processed_unlabelled_2.csv')

In [80]:
print(np.sort(test['province'].unique()))
print(np.sort(train['province'].unique()))

['Algeria' 'Andaman and Nicobar Islands' 'Andhra Pradesh' 'Assam' 'Bihar'
 'Cabo Verde' 'Chandigarh' 'Chhattisgarh' 'Delhi' 'Emilia-Romagna'
 'Eswatini' 'Ethiopia' 'France' 'Gabon' 'Gambia' 'Gansu' 'Ghana' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Hong Kong' 'Jammu and Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur'
 'Mozambique' 'Niger' 'Odisha' 'Philippines' 'Punjab' 'Queensland'
 'Rajasthan' 'Sao Paulo' 'Shaanxi' 'Singapore' 'South Australia'
 'South Korea' 'Switzerland' 'Tamil Nadu' 'Telangana' 'Uttar Pradesh'
 'Uttarakhand' 'Vietnam' 'W.P. Kuala Lumpur' 'West Bengal' 'Yunnan'
 'Zimbabwe']
['Algeria' 'Andhra Pradesh' 'Angola' 'Assam' 'Bahamas' 'Bayern' 'Bihar'
 'British Columbia' 'Burkina Faso' 'Cabo Verde' 'Cameroon'
 'Central African Republic' 'Chandigarh' 'Chhattisgarh' 'Cuba' 'Delhi'
 'Eswatini' 'Ethiopia' 'France' 'Gabon' 'Gambia' 'Gansu' 'Ghana' 'Goa'
 'Guinea' 'Gujarat' 'Guyana' 'Haryana' 'Himachal Pradesh' 'Hong Kong'
 'Hubei' 'Jammu and Kashmir' 'Jharkhand' 'Johor' 'Karnataka' 'Kerala'
 'Ladakh' 'Lombardia' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Mizoram' 'Mozambique' 'Nepal' 'Niger' 'Odisha' 'Ontario' 'Philippines'
 'Puducherry' 'Punjab' 'Queensland' 'Rajasthan' 'Romania' 'San Marino'
 'Sao Paulo' 'Shaanxi' 'Singapore' 'South Australia' 'South Korea' 'Sudan'
 'Taiwan' 'Tamil Nadu' 'Tanzania' 'Telangana' 'Togo' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'Veneto' 'Vietnam' 'West Bengal' 'Zhejiang'
 'Zimbabwe']

In [44]:
train.dtypes

age                         int64
sex                        object
province                   object
country                    object
latitude                  float64
longitude                 float64
date_confirmation          object
chronic_disease_binary       bool
Confirmed                   int64
Deaths                      int64
Recovered                   int64
Active                      int64
Incident_Rate             float64
Case_Fatality_Ratio       float64
outcome_group              object
dtype: object

In [10]:
train['date_confirmation']=pd.to_datetime(train['date_confirmation'], format='%Y-%m-%d')

In [11]:
train['date_confirmation']=train['date_confirmation'].astype(int)

TypeError: cannot astype a datetimelike from [datetime64[ns]] to [int32]

In [81]:
enc=OrdinalEncoder()
train['sex']=enc.fit_transform(train[['sex']])
test['sex']=enc.fit_transform(test[['sex']])
countries_train=enc.fit_transform(train[['country']])
train['outcome_group']=enc.fit_transform(train[['outcome_group']])
train['chronic_disease_binary']=enc.fit_transform(train[['chronic_disease_binary']])

In [82]:
train

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,18,0.0,Bihar,India,25.49096,85.93903,2020-05-18,0.0,265527,1576,262371,1580,212.762145,0.593537,1.0
1,27,0.0,Philippines,Philippines,7.07000,125.60000,2020-04-15,0.0,747288,13297,603746,130245,681.949809,1.779368,2.0
2,46,1.0,Tamil Nadu,India,13.08362,80.28252,2020-05-02,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
3,21,0.0,Tamil Nadu,India,13.08362,80.28252,2020-05-24,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
4,27,1.0,Bihar,India,26.28361,87.20347,2020-05-27,0.0,265527,1576,262371,1580,212.762145,0.593537,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17207,29,0.0,Tamil Nadu,India,13.08362,80.28252,2020-04-24,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
17208,47,0.0,Philippines,Philippines,16.68814,121.54992,2020-04-09,0.0,747288,13297,603746,130245,681.949809,1.779368,2.0
17209,30,1.0,Bihar,India,24.94452,86.26404,2020-05-26,0.0,265527,1576,262371,1580,212.762145,0.593537,1.0
17210,59,1.0,Tamil Nadu,India,12.68224,79.98008,2020-05-31,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
17211,28,1.0,Philippines,Philippines,14.58000,121.03000,2020-05-11,0.0,747288,13297,603746,130245,681.949809,1.779368,0.0

In [83]:
print(len(train['province'].unique()))

74

In [84]:
nulls=train[train['province'].isna()==True]

In [85]:
pd.unique(nulls['country'])

array([], dtype=object)

In [36]:
train['province'].isna().sum()

0

In [37]:
test['province'].isna().sum()

0

In [91]:
allcountries=np.append(train['country'],test['country'])
allcountries

array(['India', 'Philippines', 'India', ..., 'India', 'India', 'India'],
      dtype=object)

In [88]:
allprovince=np.append(train['province'],test['province'])
datap=pd.DataFrame(allprovince, columns=['province'])
datap['encoding']=enc.fit_transform(datap[['province']])
datap['encoding'].astype('str')
datap=datap.drop_duplicates()

In [90]:
print(len(datap))
for i in range(79):
    test.loc[test['province']==datap['province'].iloc[i],'province']=datap['encoding'].iloc[i]
    train.loc[train['province']==datap['province'].iloc[i],'province']=datap['encoding'].iloc[i]

79

In [92]:
data=pd.DataFrame(allcountries, columns=['country'])
data

           country
0            India
1      Philippines
2            India
3            India
4            India
...            ...
21511        India
21512  Philippines
21513        India
21514        India
21515        India

[21516 rows x 1 columns]

In [93]:
data['encoding']=enc.fit_transform(data[['country']])

In [94]:
data['encoding'].astype('str')
data=data.drop_duplicates()
data

                        country  encoding
0                         India      21.0
1                   Philippines      27.0
51                     Ethiopia      13.0
227                   Singapore      30.0
228                 South Korea      31.0
494                     Vietnam      37.0
692                       Ghana      18.0
748                   Australia       2.0
998                      France      14.0
1081                      China      10.0
1470                    Romania      28.0
1526                 Cabo Verde       6.0
1699                       Cuba      11.0
1863                      Italy      22.0
1928                       Togo      36.0
1993                   Tanzania      35.0
2050                      Sudan      32.0
2180                      Niger      26.0
2510                    Bahamas       3.0
2616                      Nepal      25.0
3045                 San Marino      29.0
3370   Central African Republic       9.0
3423                   Eswatini      12.0
4314                     Brazil       4.0
4779                     Gambia      16.0
5197                    Algeria       0.0
5339                   Zimbabwe      38.0
6045                   Malaysia      23.0
6060               Burkina Faso       5.0
6791                      Gabon      15.0
7322                     Canada       8.0
7458                     Angola       1.0
8112                   Cameroon       7.0
9442                     Taiwan      34.0
10171                   Germany      17.0
10602                    Guinea      19.0
10815                Mozambique      24.0
16551                    Guyana      20.0
18789               Switzerland      33.0

In [95]:
for i in range(39):
    test.loc[test['country']==data['country'].iloc[i],'country']=data['encoding'].iloc[i]
    train.loc[train['country']==data['country'].iloc[i],'country']=data['encoding'].iloc[i]

In [96]:
test['country'].astype('float')

0       27.0
1       21.0
2       21.0
3       21.0
4       21.0
        ...
4299    21.0
4300    27.0
4301    21.0
4302    21.0
4303    21.0
Name: country, Length: 4304, dtype: float64

In [439]:
test['date_confirmation']=pd.to_datetime(test['date_confirmation'], format='%Y-%m-%d')
test['date_confirmation']=test['date_confirmation'].astype(int)
test

/Users/hazemelmegharbel/opt/anaconda3/envs/cmpt459/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,59,0.0,NaN,27.0,14.595800,120.977200,1585612800000000000,0,747288,13297,603746,130245,681.949809,1.779368
1,79,1.0,Tamil Nadu,21.0,11.139270,79.084280,1590278400000000000,0,886673,12719,858075,15879,1139.078325,1.434463
2,44,0.0,Tamil Nadu,21.0,13.083620,80.282520,1589846400000000000,0,886673,12719,858075,15879,1139.078325,1.434463
3,36,1.0,Tamil Nadu,21.0,13.124620,79.918150,1588204800000000000,0,886673,12719,858075,15879,1139.078325,1.434463
4,52,1.0,Bihar,21.0,25.312580,86.488880,1587686400000000000,0,265527,1576,262371,1580,212.762145,0.593537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4299,66,1.0,Karnataka,21.0,13.000000,77.583330,1586390400000000000,0,997004,12567,956170,28267,1475.672533,1.260476
4300,66,1.0,NaN,27.0,14.595800,120.977200,1585612800000000000,0,747288,13297,603746,130245,681.949809,1.779368
4301,53,0.0,Tamil Nadu,21.0,12.682240,79.980080,1589241600000000000,0,886673,12719,858075,15879,1139.078325,1.434463
4302,25,1.0,Tamil Nadu,21.0,13.160185,80.297689,1590537600000000000,0,886673,12719,858075,15879,1139.078325,1.434463
4303,34,1.0,Karnataka,21.0,13.335010,74.749360,1590537600000000000,0,997004,12567,956170,28267,1475.672533,1.260476

In [101]:
#train
#train.to_csv('data/train.csv',index = False)
len(test)

17212