In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

In [15]:
train= pd.read_csv('data/cases_2021_train_processed_2.csv')
test=pd.read_csv('data/cases_2021_test_processed_unlabelled_2.csv')

In [16]:
print(np.sort(test['province'].unique()))
print(np.sort(train['province'].unique()))

['Algeria' 'Andaman and Nicobar Islands' 'Andhra Pradesh' 'Assam' 'Bihar'
 'Cabo Verde' 'Chandigarh' 'Chhattisgarh' 'Delhi' 'Emilia-Romagna'
 'Eswatini' 'Ethiopia' 'France' 'Gabon' 'Gambia' 'Gansu' 'Ghana' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Hong Kong' 'Jammu and Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur'
 'Mozambique' 'Niger' 'Odisha' 'Philippines' 'Punjab' 'Queensland'
 'Rajasthan' 'Sao Paulo' 'Shaanxi' 'Singapore' 'South Australia'
 'South Korea' 'Switzerland' 'Tamil Nadu' 'Telangana' 'Uttar Pradesh'
 'Uttarakhand' 'Vietnam' 'W.P. Kuala Lumpur' 'West Bengal' 'Yunnan'
 'Zimbabwe']
['Algeria' 'Andhra Pradesh' 'Angola' 'Assam' 'Bahamas' 'Bayern' 'Bihar'
 'British Columbia' 'Burkina Faso' 'Cabo Verde' 'Cameroon'
 'Central African Republic' 'Chandigarh' 'Chhattisgarh' 'Cuba' 'Delhi'
 'Eswatini' 'Ethiopia' 'France' 'Gabon' 'Gambia' 'Gansu' 'Ghana' 'Goa'
 'Guinea' 'Gujarat' 'Guyana' 'Haryana' 'Himachal Pradesh' 'Hong Kong'
 'Hubei' 'Jammu and Kashmir' 'Jharkhand' 'Johor' 'Karnataka' 'Kerala'
 'Ladakh' 'Lombardia' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Mizoram' 'Mozambique' 'Nepal' 'Niger' 'Odisha' 'Ontario' 'Philippines'
 'Puducherry' 'Punjab' 'Queensland' 'Rajasthan' 'Romania' 'San Marino'
 'Sao Paulo' 'Shaanxi' 'Singapore' 'South Australia' 'South Korea' 'Sudan'
 'Taiwan' 'Tamil Nadu' 'Tanzania' 'Telangana' 'Togo' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'Veneto' 'Vietnam' 'West Bengal' 'Zhejiang'
 'Zimbabwe']

In [ ]:
train.dtypes

In [ ]:
train['date_confirmation']=pd.to_datetime(train['date_confirmation'], format='%Y-%m-%d')

In [ ]:
train['date_confirmation']=train['date_confirmation'].astype(int)

In [17]:
enc=OrdinalEncoder()
train['sex']=enc.fit_transform(train[['sex']])
test['sex']=enc.fit_transform(test[['sex']])
countries_train=enc.fit_transform(train[['country']])
train['outcome_group']=enc.fit_transform(train[['outcome_group']])
train['chronic_disease_binary']=enc.fit_transform(train[['chronic_disease_binary']])

In [ ]:
train

In [ ]:
print(len(train['province'].unique()))

In [ ]:
nulls=train[train['province'].isna()==True]

In [ ]:
pd.unique(nulls['country'])

In [ ]:
train['province'].isna().sum()

In [ ]:
test['province'].isna().sum()

In [18]:
allcountries=np.append(train['country'],test['country'])
allcountries

array(['India', 'Philippines', 'India', ..., 'India', 'India', 'India'],
      dtype=object)

In [19]:
allprovince=np.append(train['province'],test['province'])
datap=pd.DataFrame(allprovince, columns=['province'])
datap['encoding']=enc.fit_transform(datap[['province']])
datap['encoding'].astype('str')
datap=datap.drop_duplicates()

In [20]:
print(len(datap))
for i in range(79):
    test.loc[test['province']==datap['province'].iloc[i],'province']=datap['encoding'].iloc[i]
    train.loc[train['province']==datap['province'].iloc[i],'province']=datap['encoding'].iloc[i]

79

In [22]:
train

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,18,0.0,7.0,India,25.49096,85.93903,2020-05-18,0.0,265527,1576,262371,1580,212.762145,0.593537,1.0
1,27,0.0,50.0,Philippines,7.07000,125.60000,2020-04-15,0.0,747288,13297,603746,130245,681.949809,1.779368,2.0
2,46,1.0,65.0,India,13.08362,80.28252,2020-05-02,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
3,21,0.0,65.0,India,13.08362,80.28252,2020-05-24,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
4,27,1.0,7.0,India,26.28361,87.20347,2020-05-27,0.0,265527,1576,262371,1580,212.762145,0.593537,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17207,29,0.0,65.0,India,13.08362,80.28252,2020-04-24,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
17208,47,0.0,50.0,Philippines,16.68814,121.54992,2020-04-09,0.0,747288,13297,603746,130245,681.949809,1.779368,2.0
17209,30,1.0,7.0,India,24.94452,86.26404,2020-05-26,0.0,265527,1576,262371,1580,212.762145,0.593537,1.0
17210,59,1.0,65.0,India,12.68224,79.98008,2020-05-31,0.0,886673,12719,858075,15879,1139.078325,1.434463,1.0
17211,28,1.0,50.0,Philippines,14.58000,121.03000,2020-05-11,0.0,747288,13297,603746,130245,681.949809,1.779368,0.0

In [23]:
data=pd.DataFrame(allcountries, columns=['country'])
data

           country
0            India
1      Philippines
2            India
3            India
4            India
...            ...
21511        India
21512  Philippines
21513        India
21514        India
21515        India

[21516 rows x 1 columns]

In [24]:
data['encoding']=enc.fit_transform(data[['country']])

In [25]:
data['encoding'].astype('str')
data=data.drop_duplicates()
data

                        country  encoding
0                         India      21.0
1                   Philippines      27.0
51                     Ethiopia      13.0
227                   Singapore      30.0
228                 South Korea      31.0
494                     Vietnam      37.0
692                       Ghana      18.0
748                   Australia       2.0
998                      France      14.0
1081                      China      10.0
1470                    Romania      28.0
1526                 Cabo Verde       6.0
1699                       Cuba      11.0
1863                      Italy      22.0
1928                       Togo      36.0
1993                   Tanzania      35.0
2050                      Sudan      32.0
2180                      Niger      26.0
2510                    Bahamas       3.0
2616                      Nepal      25.0
3045                 San Marino      29.0
3370   Central African Republic       9.0
3423                   Eswatini      12.0
4314                     Brazil       4.0
4779                     Gambia      16.0
5197                    Algeria       0.0
5339                   Zimbabwe      38.0
6045                   Malaysia      23.0
6060               Burkina Faso       5.0
6791                      Gabon      15.0
7322                     Canada       8.0
7458                     Angola       1.0
8112                   Cameroon       7.0
9442                     Taiwan      34.0
10171                   Germany      17.0
10602                    Guinea      19.0
10815                Mozambique      24.0
16551                    Guyana      20.0
18789               Switzerland      33.0

In [26]:
for i in range(39):
    test.loc[test['country']==data['country'].iloc[i],'country']=data['encoding'].iloc[i]
    train.loc[train['country']==data['country'].iloc[i],'country']=data['encoding'].iloc[i]

In [ ]:
test['country'].astype('float')

In [ ]:
test['date_confirmation']=pd.to_datetime(test['date_confirmation'], format='%Y-%m-%d')
test['date_confirmation']=test['date_confirmation'].astype(int)
test

In [14]:

train.to_csv('data/train.csv',index = False)
test.to_csv('data/test.csv',index = False)